@page "/"

    <div id="wrapper">
        @*Add Placeholder="Choose a Date Range" in below code when no value is set to DateTimePicker*@
        <SfDateTimePicker TValue="DateTime?"
                          Value="@DateValue"
                          Min="@StartDate"
                          Max="@EndDate"
                          Format="dd-MMM-yy HH:mm"></SfDateTimePicker>
    </div>

@code{
    public DateTime DateValue { get; set; } = new DateTime(2020, 03, 11, 12, 45, 00);

    public DateTime StartDate { get; set; } = new DateTime(2020, 03, 10, 12, 00, 00);

    public DateTime EndDate { get; set; } = new DateTime(2020, 03, 22, 17, 00, 00);
}

<style>
    #wrapper{
        max-width: 300px;
        margin: 0px auto;
        padding-top: 20px;
    }
</style>

